body{
    background-color:black;
}
.main{
    justify-content:center;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}
.contact-details{
    display: flex;
    margin-left:50px;
    /* padding-top:10px; */
    width: 20vh;
    text-align: center;
}

.logo-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:10px;
    margin: 5px;
    border-radius: 50%;
    background-color:white;
    height: 8vh;
    width: 8vh;
    font-weight: 300;
    color:aqua;
}
h2{
    text-transform: capitalize;
    color: chocolate;
}
.inputform{
    margin-top:120px;
    justify-content: center;
}
.inputs{
    background-color: lightgrey;
    padding: 8px;
    border-style:none;
}
.sendmsg{
    background-color:chocolate;
    color:black;
    text-transform:uppercase;
    padding:10px;
    font-weight:bold;
    font-size:20px;
    width:108vh;
}