/* CONTACT-FORM */
body{
    background-color:black;
}
.main{
    justify-content:center;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}
.contact-details{
    display: flex;
    margin-left:50px;
    /* padding-top:10px; */
    width: 20vh;
    text-align: center;
}

.logo-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:10px;
    margin: 5px;
    border-radius: 50%;
    background-color:white;
    height: 8vh;
    width: 8vh;
    font-weight: 300;
    color:aqua;
}
h2{
    text-transform: capitalize;
    color: chocolate;
}
.inputform{
    margin-top:120px;
    justify-content: center;
}
.inputs{
    background-color: lightgrey;
    padding: 8px;
    border-style:none;
}
.sendmsg{
    background-color:chocolate;
    color:black;
    text-transform:uppercase;
    padding:10px;
    font-weight:bold;
    font-size:20px;
    width:108vh;
}

/* SLEEPYOWL-FORM */
.gridform{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    background-color: lightblue;
    border: 1px solid blue;
    padding: 10px;
    margin: auto;
    gap: 10px;
}
.item img{
    width: 100%;
    object-fit: cover;
    border: 1px solid black;

}
.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item2{
    grid-column-start:4 ;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item3{
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item4{
    grid-column-start:3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item5{
    grid-column-start:5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}
h1{
  position:absolute;
  text-transform: capitalize;
  top: 100px;
  color: blue;
  padding-left: 310px;
  font-size:25px;
}
h2{
   position:absolute;
  text-transform: capitalize;
  top: 500px;
  color: blue;
  padding-left: 30px;
}
big{
    font-size: 30px;
    font-weight: 900;
    color: blue;
}